# ===== DJANGO =====
SECRET_KEY=
DEBUG=

# ===== POSTGRESQL (для Django и контейнера) =====
POSTGRES_ENGINE=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# ===== STRIPE =====
STRIPE_API_KEY=

# ===== EMAIL =====
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ===== REDIS =====
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# ===== SUPERUSER (для автоматического создания суперюзера) =====
CSU_EMAIL=
CSU_PASSWORD=